.table-container {
    overflow-x: auto;
    overflow-y: auto;
    height: 75vh;
  
  }
  
  table {
    width:97%;
    border-collapse: collapse;
    text-align: center;
    margin-left:1rem;
    margin-bottom: 1rem;
    
  }
  
  thead tr th {
    font-weight: 500;
    text-align: center;
    background-color: #d7d1d1;
    padding: 1rem;
    font-weight: bold;
  }
  .header-tr {
    position: sticky;
    top: 0;
    background-color: #d7d1d1;
  }

  th,td {
    border: 1px solid grey; 
    overflow-wrap: break-word;
    border-radius: 2%;
  }
  .selected {
  background-color: lightgray;
}
  @media screen and (max-width: 768px) {
    tr,td {
      margin: 0rem;
      padding:0rem;
      font-weight: 450;
      font-size: small;
    }
    .table-container {
      width:100%;
      margin: 0.2rem;
      padding: 0rem;
      height: auto;
    }
    table {
      padding: 0rem;
      margin:0rem;
      width:100%;
      height: auto;
      margin-bottom: 0.5rem;
      margin-top:0.5rem;
    }
  }
  @media screen and (min-width: 1200px) {
    table {
      table-layout: fixed; 
    }
    .table-contianer {
      height: 78v
    }
  }
