.App {
  text-align: center;
}

.selected {
  background-color: lightgray;
}
#placeholder {
  width: 430px;
}
.display {
  display: flex;
 align-items: center;
  flex-direction: column;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}
.delete {
  background-color: rgb(212, 62, 74);
  color: white;
}
.table {
  box-sizing:border-box black;
}
